
body {
	padding: 0px;
	margin-top: 20px;
	margin-left: 20px;
	background: url(image.jpg) no-repeat;
	background-size: cover;
	/*background-position: center;*/
	/*height: 100%;*/
	font-family: comfortaa, 'Microsoft Sans Serif';
	color: white;
}

h1 {
	background-color: black;
	opacity: 0.8;
	display: flex;
	margin-top: 400px;
	/*margin: 10px;*/
	width: 50%;
	padding: 20px;
	line-height: 40px;
}

p {
	line-height: 25px;
	background-color: black;
	opacity: 0.8;
	padding: 10px;
	float: left;
	margin: 0px;
}

.contact {
	display: block;
	margin: 50px 0px;
	display: block;
	width: auto;
	display: flex;
}

.default {
	cursor: default;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 100%;
	display: flex;
}

ul li {
	/*float: left;*/
	height: 40px;
	margin-right: 3px;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	line-height: 40px;
	cursor: default;
	width: 100%;
}

ul li a {
	color: white;
	display: block;
	text-decoration: none;
	transition: all 0.3s;
}

ul li a:hover {
	background-color: green;
}

ul li ul {
	display: block;
	/*width: 100%;*/
}

ul li ul li {
	display: none;
	cursor: pointer;
}

ul li:hover ul li {
	display: block;
}
