
body {
	text-align: center;
	margin-top: 100px;
	cursor: default;
	background: url(start.png) no-repeat;
	background-size: cover;
	background-position: center;
	height: 95vh;
	font-family: Microsoft Sans Serif;
	font-size: 20px;
	color: white;
	display: flex;
}

.wrap {
	width: 30%;
	margin 20px
	padding: 20px; 
	border: 2px solid black;
	border-radius: 20px;
        background-color: black;
        opacity: 0.8;
}

.button {
	background-color: #d40b0b;
	border: none;
	color: white;
	font-size: 130%;
	padding: 10px 15px;
	margin-top: 50px;
	width: 60%;
	cursor: pointer;
	border-radius: 50px;
	outline: none;
	transition: all 0.3s;
	font-family: Kristen ITC;
}

.button:hover {
	transform: scale(1.1);
}
